<div class="profile page">
    <header class="header">
        <ul>
            <li class="header__item header__item__icon" back-button><i class="fa fa-angle-left"></i></li>
            <li class="header__item">Tyler Waltze</li>
        </ul>
    </header>
    <div class="list--inset">
        <h4 class="list--inset__title">Credit</h4>
        <div class="list--inset__item">
            $100
        </div>
    </div>
    <div class="list--inset">
        <h4 class="list--inset__title">Payment Methods</h4>
        <div class="list--inset__item grid--middle">
            <span class="block-1-2 font-size--large">Venmo</span><!--
            --><span class="block-1-2 text-align--right">
                <span class="button--green">Authorize</span>
            </span>
        </div>
    </div>
</div>
