<div class="transaction page">
    <header class="header">
        <ul>
            <li class="header__item__icon"><a href="#/profile"><i class="fa fa-user"></i></a></li>
        </ul>
    </header>
    <div class="transaction__amount">
        ${{amount()}}
    </div>
    <div class="transaction__status" ng-if="transaction">
        Your current transaction is {{transaction.status}}.
    </div>
    <section class="transaction__numberPad" ng-if="!transaction">
        <div class="grid--center grid--gutter">
            <div class="transaction__numberPad__number block-1-3" ng-click="select(1)">1</div><!--
            --><div class="transaction__numberPad__number block-1-3" ng-click="select(2)">2</div><!--
            --><div class="transaction__numberPad__number block-1-3" ng-click="select(3)">3</div>
        </div>
        <div class="grid--center grid--gutter">
            <div class="transaction__numberPad__number block-1-3" ng-click="select(4)">4</div><!--
            --><div class="transaction__numberPad__number block-1-3" ng-click="select(5)">5</div><!--
            --><div class="transaction__numberPad__number block-1-3" ng-click="select(6)">6</div>
        </div>
        <div class="grid--center grid--gutter">
            <div class="transaction__numberPad__number block-1-3" ng-click="select(7)">7</div><!--
            --><div class="transaction__numberPad__number block-1-3" ng-click="select(8)">8</div><!--
            --><div class="transaction__numberPad__number block-1-3" ng-click="select(9)">9</div>
        </div>
        <div class="grid--center grid--gutter">
            <div class="transaction__numberPad__number block-1-3" ng-click="select('.')">.</div><!--
            --><div class="transaction__numberPad__number block-1-3" ng-click="select(0)">0</div><!--
            --><div class="transaction__numberPad__number block-1-3" ng-click="delete()"><i class="fa fa-angle-left"></i></div>
        </div>
    </section>
    <div class="transaction__actions">
        <ul class="list--horizontal grid--center">
            <li class="transaction__actions__action block-1-2">
                <span class="button--fullWidth button--white">Request</span>
            </li><!--
            --><li class="transaction__actions__action block-1-2">
                <span class="button--fullWidth button--white">Available</span>
            </li>
        </ul>
    </div>
</div>
