<div class="transaction page">
    <header class="header">
        <ul>
            <li class="header__item__icon"><a href="#/profile"><i class="fa fa-user"></i></a></li>
        </ul>
    </header>
    <div class="transaction__amount">
        ${{amount}}
    </div>
    <div class="transaction__status" ng-if="transaction">
        Your transaction is {{transaction.status}}.
        <span class="transaction__status__meetup" ng-if="transaction.fulfiller">
            Please meet {{transaction.fulfiller.name}} <a ng-href="http://maps.google.com/maps?q={{transaction.fulfiller.lat}},{{transaction.fulfiller.lng}}" target="_blank">here</a>.
        </span>
    </div>
    <number-pad number="amount"></number-pad>
    <div class="transaction__actions">
        <ul class="list--horizontal grid--center" ng-hide="transaction">
            <li class="transaction__actions__action block-1-2">
                <span class="button--fullWidth button--white" ng-click="requestMoney()">Request</span>
            </li><!--
            --><li class="transaction__actions__action block-1-2">
                <span class="button--fullWidth button--white">Available</span>
            </li>
        </ul>
        <span class="transaction__actions__action button--fullWidth button--white" ng-show="transaction" ng-click="cancelRequest()">Cancel</span>
    </div>
</div>
