<div class="transaction page">
    <header class="header">
        <ul>
            <li class="header__item__icon"><a href="#/profile"><i class="fa fa-user"></i></a></li>
        </ul>
    </header>

    <div class="transaction__amount">
        ${{user.amount}}
    </div>
    <div class="transaction__status" ng-show="user.online">
        Waiting for users.
    </div>
    <number-pad number="user.amount" ng-show="!user.online"></number-pad>

    <div class="transaction__actions">
        <ul class="list--horizontal grid--center" ng-show="!loading && !user.online">
            <li class="transaction__actions__action block-1-2">
                <span class="button--fullWidth button--white" ng-click="requestMoney()">Request</span>
            </li><!--
            --><li class="transaction__actions__action block-1-2">
                <span class="button--fullWidth button--white" ng-click="goOnline()">Available</span>
            </li>
        </ul>
        <div class="transaction__actions__action button--fullWidth button--white" ng-show="!loading && user.online" ng-click="goOffline()">
            Go offline
        </div>
        <div class="transaction__actions__action button--fullWidth button--white" ng-show="loading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>
